<div class="wrapper">
  <div class="side-bar">
    <%= render partial: "schedules/side_bar" %>
  </div>

  <div class="main">
    <div class="mypage-name">
      <%= "#{@user.last_name}#{@user.first_name}さんのスケジュール"%>
      <%= link_to '戻る', root_path, class: :button%>
    </div>

   <div class="chat">
    <%= render partial: "schedules/schedules" %>
    <%= render partial: "schedules/reports" %>
   </div>
  </div>
</div>