 <div class='all-table'>
     <div class='table-tittle'>
      <p>活動報告一覧</p>
     </div>
     
    <div class='search'>
      <%= search_form_for @p, url: search_schedules_path do |f| %>
        <%= f.label :start_time_gteq, '次回訪問' %>
        <%= f.date_field :start_time_gteq %> ~ <%= f.date_field :start_time_lteq %>
        <%= f.submit '検索' %>
      <% end %>
     </div>



      <table class='report-list'>
        <thead>
          <tr>
            <th width="10%">詳細</th>
            <th width="5%">来訪日</th>
            <th width="5%">報告者</th>
            <th width="10%">顧客名</th>
            <th width="10%">商談内容</th>
            <th width="15%">目的</th>
            <th width="7%">次回</th>
          </tr>
        </thead>
        
        <tbody>
          <% if @schedules.each do |schedules| %>
            <tr> 
              <td class="details"><%= link_to '詳細', schedule_path(schedules.id), method: :get %></td>
              <td><%= schedules.visit_date.strftime('%m/%d') %></td>
              <td><%= schedules.user.last_name %></td>
              <td><%= schedules.client %></td>
              <td><%= schedules.content.name %></td>
              <td><%= schedules.aim %></td>
              <% if schedules.start_time.present? %>
               <td><%= schedules.start_time.strftime('%m/%d') %></td>
              <% else %>
               <td></td>
              <% end %>
            </tr>
          <% end.empty? %>
            <%= puts "" %>
          <% end %>
        </tbody>
      </table>
   </div>