 <div class='all-table'>
     <div class='table-tittle'>
      <p>活動報告一覧</p>
     </div>
     
    <div class='search'>
      <%= search_form_for @p, url: search_schedules_path do |f| %>
        <%= f.label :start_time_gteq, '次回訪問' %>
        <%= f.date_field :start_time_gteq %> ~ <%= f.date_field :start_time_lteq %>
        <%= f.submit '検索' %>
      <% end %>
     </div>



      <table class='report-list'>
        <thead>
          <tr>
            <th class="td-01">詳細</th>
            <th class="td-02">訪問日</th>
            <th class="td-03">報告者</th>
            <th class="td-04">顧客名</th>
            <th class="td-05">商談内容</th>
            <th class="td-06">目的</th>
            <th class="td-07">次回</th>
          </tr>
        </thead>
        
        <tbody>
          <% if @schedules.each do |schedules| %>
            <tr> 
              <td class="td-01"><%= link_to '詳細', schedule_path(schedules.id), method: :get %></td>
              <td class="td-02"><%= schedules.visit_date.strftime('%m/%d') %></td>
              <td class="td-03"><%= schedules.user.last_name %></td>
              <td><p class="td-04"><%= schedules.client %></p></td>
              <td class="td-05"><%= schedules.content.name %></td>
              <td><p class="td-06"><%= schedules.aim %></p></td>
              <% if schedules.start_time.present? %>
               <td class="td-07"><%= schedules.start_time.strftime('%m/%d') %></td>
              <% else %>
               <td></td>
              <% end %>
            </tr>
          <% end.empty? %>
            <%= puts "" %>
          <% end %>
        </tbody>
      </table>
   </div>