<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
   
   <div>
    <%= month_calendar events:@schedules do |date, schedules| %>
      <%= date.day %>

      <% schedules.first(2).each do |schedule| %>
        <div>
          <%= link_to schedule.client %>
            

        </div>
         

      <% end %>
    <% end %>
   </div>

   <div>
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>時間</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @schedules.each do |schedules| %>
          <tr>
            <td><%= schedules.client %></td>
            <td><%= link_to 'Show', schedules %></td>
            <td><%= link_to 'Edit', edit_schedule_path(schedules.id) %></td>
            <td><%= link_to 'Destroy',schedule_path(schedules.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
  </div>
</div>


