
     <div class='table-tittle'>
      <p>活動報告詳細</p>
     </div>

      <table class='show-list'>
        <thead>
          <tr>
            <th class="with-1">投稿日</th>
            <th class="with-2">担当者</th>
            <th class="with-3">顧客名</th>
            <th class="with-4">担当者</th>
            <th class="with-5">商談内容</th>
            <th class="with-6">目的</th>
            <th class="with-7">時間</th>
            <th class="with-8">製品</th>
            <th class="with-9">活動報告</th>
            <th class="with-10">問題・課題/今後の対応</th>
            <th class="with-11">次回</th>
          </tr>
        </thead>
        
        <tbody>
            <tr> 
              <td><%= @schedules.created_at.strftime('%m/%d') %></td>
              <td><%= @schedules.user.last_name %></td>
              <td><%= @schedules.client %></td>
              <td><%= @schedules.person %></td>
              <td><%= @schedules.content.name %></td>
              <td><%= @schedules.aim %></td>
              <td><%= @schedules.time %></td>
              <td><%= @schedules.product.name %></td>
              <td><%= @schedules.report %></td>
              <td><%= @schedules.other %></td>
              <td>
                <% if @schedules.start_time.present? %>
                  <%= @schedules.start_time.strftime('%m/%d') %>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>

      <div>
         <%= link_to '編集', root_path %>
         <%= link_to '削除', root_path %>
      </div>